.label, .text-field, .text {
    -fx-font-size: 15px;
    -fx-font-weight: bold;
    -fx-text-fill: black;
}

/*.button {*/
    /*-fx-text-fill: white;*/
    /*-fx-font-family: "Arial";*/
    /*-fx-font-weight: bold;*/
    /*-fx-background-color: black;*/
/*}*/

/*.button:hover {*/
    /*-fx-background-color: linear-gradient(black, red);*/
/*}*/

/*.toggle-button {*/
    /*-fx-text-fill: white;*/
    /*-fx-font-family: "Arial";*/
    /*-fx-font-weight: bold;*/
    /*-fx-background-color: black;*/
/*}*/

/*.toggle-button:selected {*/
    /*-fx-text-fill: white;*/
    /*-fx-font-family: "Arial";*/
    /*-fx-font-weight: bold;*/
    /*-fx-background-color: blue;*/
/*}*/